<?xml version="1.0"?>
<settings>
    <profiles>
        <profile>
            <id>nexus</id>
            <!-- 2 вариант подключения nexus -->
            <!-- добавляем Nexus как обычный репозиторий -->
            <!-- т.к. он добавляется первым, то запросы будут отправлятся в начале к nexus -->
            <repositories>
			    <repository>
                  <id>jasper-3rd-party</id>
                  <name>Jasper3rdParty</name>
                  <url>https://nexus.rusoft.tech/repository/jfrog/</url>
                </repository>
                <repository>
                    <id>nexus-repo</id>
                    <name>Nexus Repository</name>
                    <url>http://nexus.rusoft.tech/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                  <id>osgeo-gs</id>
                  <name>OSGEO GEOSERVER</name>
                  <url>https://nexus.rusoft.tech/repository/osgeo/</url>
                </repository>
                <repository>
                  <id>spring-milestones</id>
                  <name>Spring Milestones</name>
                  <url>https://nexus.rusoft.tech/repository/spring/</url>
                  <snapshots>
                    <enabled>true</enabled>
                  </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-repo</id>
                    <name>Nexus Repository</name>
                    <url>http://nexus.rusoft.tech/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                  <id>spring-snapshots</id>
                  <name>Spring Snapshots</name>
                  <url>https://nexus.rusoft.tech/repository/spring/</url>
                  <snapshots>
                    <enabled>true</enabled>
                  </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!--делаем профиль активным по умолчанию -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>

    <servers>
        <!-- логин/пароль для установки своих библиотек в nexus -->
        <server>
            <id>InternalReleases</id>
            <username>username</username>
            <password>pass</password>
        </server>
        <server>
            <id>InternalSnapshots</id>
            <username>username</username>
            <password>pass</password>
        </server>
    </servers>
</settings>
